body{
font-family: 'Roboto', sans-serif;
width: 100%;
margin:0; padding:0;
color:darken(gray, 25%);
}
*{
  margin:0; padding:0;
}

// mixins
@mixin donutFont{
  font-family: 'Indie Flower', cursive;
  font-style:italic;
}
@mixin backgroundFull($url: 'http://localhost:3000/public/assets/donuts-headline.jpg', $colorA: rgba(0, 220, 255, .4), $colorB: rgba(255, 0, 125, .9)) {
  background:linear-gradient($colorA, $colorB ),  url($url);
  background-size:cover;
  background-repeat: no-repeat;
  color:white;
}
.bodyWrapper{
  top:70px;
  position: relative;
}
a{
  color:black;text-decoration: none;
}
